{{#each products as |product|}}
<div class="card-wrapper">
  <div class="card">
  <div class="image-wrapper">
    {{#if product.image}}
        {{product.image}}
      {{else}}
      <img src="http://placehold.it/800x500" alt="" class="image" />
      {{/if}}
  </div>
  <div class="content-wrapper">
    <div class="title">
      <h1 data-id="{{product.id}}"> <small>Name: {{product.name}}</small></h1>
      {{product.name}}
    </div>
    <div class="price">
      {{product.price}}
    </div>
    <div class="description">
      {{product.description}}
      {{product.brand}}
      {{product.category}}
    </div>
    <div class="actions">
      <button id="cart" class="button flip green-solid cart browse-products">
        <span class="front">Add to Cart</span>
        <span class="backside">Added</span>
      </button>
    </div>
  </div>
</div>
</div>
{{/each}}
