{{#each products as |product|}}
<div class="card-wrapper">
  <div class="card">
  <div class="image-wrapper">
    {{#if product.image}}
      <img src="{{product.image}}" alt="" class="image" />
      {{else}}
      <img src="http://placehold.it/800x500" alt="" class="image" />
      {{/if}}
  </div>
  <div class="content-wrapper">
    <div class="title">
      <h1 data-id="{{product._id}}"> <small>Name: {{product.name}}</small></h1>
      {{product.name}}
    </div>
    <div class="price">
      {{product.price}}
    </div>
    <div class="description">
      {{product.description}}
      {{product.brand}}
      {{product.category}}
    </div>
    <div class="actions">
      <form id="{{product._id}}">
      <input id="cart" type="submit" class="button flip green-solid cart browse-products" value="Add to Cart">
        <span class="front">Add to Cart</span>
        <span class="backside">Added</span>
      </form>
    </div>
  </div>
</div>
</div>
{{/each}}
