{{#each orders as |order|}}
  <h1 data-id="{{order.id}}"> <small>Date: {{date order.createdAt}}</small></h1>
  <div>
     <div class="order-shipping">
        <div class="order-recipient">
          {{order.shippingAddress.recipientName}}
        </div>
        <div class="order-address">
          {{order.shippingAddress.address}}
        </div>
        <div class="order-city">
          {{order.shippingAddress.city}}
          {{order.shippingAddress.state}}
          {{order.shippingAddress.zip}}
        </div>
        <div class="order-country">
          {{order.shippingAddress.country}}
        </div>
    </div>
    <div class="order-price">
      {{decimal order.paymentDetails.totalPrice}}
    </div>
    <div class="order-proudcts">
      {{#order.products}}
        {{name}}
        {{ decimal price}}
        {{quantity}}
      {{/order.products}}
    </div>
  </div>

{{/each}}
