
<h3>Order History</h3>
{{#each orders as |order|}}
<div class="orderHistory">
<table class="table table-bordered tablebilling">
  <thead class="thead-inverse">
    <tr>
      <th>Order Date</th>
      <th>Shipped to</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{date order.createdAt}}</td>
      <td>{{order.shippingAddress.recipientName}}</td>
      <td>{{order.shippingAddress.address}}</td>
      <td>{{order.shippingAddress.city}}</td>
      <td>{{order.shippingAddress.state}}</td>
      <td>{{order.shippingAddress.zip}}</td>
      <td>{{order.shippingAddress.country}}</td>
      <td>${{decimal order.totalPrice}}</td>
    </tbody>
  </table>
<table class="table table-bordered tableproducts">
  <thead class="thead-inverse">
    <tr>
      <th>Products</th>
      <th>Price</th>
    </tr>
  </thead>
  {{#order.products}}
  <tbody>
    <tr>
      <td>{{name}}</td>
      <td>${{decimal price}}</td>
    </tr>
  </tbody>
{{/order.products}}
</table>
<div>
{{else}}
<h2 class="text-center">You have no orders. Happy Shopping!</h2>
{{/each}}
