{{#each orders as |order|}}
<div class="order-history">
  <h3 data-id="{{order.id}}"> <small>Order date: {{date order.createdAt}}</small></h3>
     <div class="order-shipping">
        <h5>Shipped to:</h5>
        <div class="order-recipient">
          {{order.shippingAddress.recipientName}}
        </div>
        <div class="order-address">
          {{order.shippingAddress.address}}
        </div>
        <div class="order-city">
          {{order.shippingAddress.city}}
          {{order.shippingAddress.state}}
          {{order.shippingAddress.zip}}
        </div>
        <div class="order-country">
          {{order.shippingAddress.country}}<br/>
        </div>
    </div>
    <div class="order-price">
      <h5 <small>Total price: ${{decimal order.totalPrice}}</small></h5></br>
    </div>
    <div class="order-products">
      <h5>Products:</h5>
      {{#order.products}}
        {{name}}
        <h4><small>${{decimal price}}</small></h4></br>
      {{/order.products}}
    </div>
  </div>

{{/each}}
