{{#each orders as |order|}}
  <h1 data-id="{{order.id}}"> <small>Name: {{order.shippingAdress.recipientName}}</small></h1>
  <div>
    {{order.shippingAddress.recipientName}}
    {{order.shippingAddress.address}}
    {{order.shippingAddress.city}}
    {{order.shippingAddress.state}}
    {{order.shippingAddress.country}}
    {{order.shippingAddress.zip}}
    {{order.paymentDetails.totalPrice}}
    {{#order.products}}
      {{name}}
      {{price}}
      {{quantity}}
    {{/order.products}}
  </div>

{{/each}}
